.sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); }
  .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    .sidebar .sidebar-header .sidebar-title {
      margin: 0;
      font-size: 22px; }
    .sidebar .sidebar-header .react-icon {
      width: 40px;
      height: 40px; }
  .sidebar .sidebar-body {
    flex-grow: 1; }
