.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(#fff, 0.4);

    .sidebar-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .sidebar-title {
            margin: 0;
            font-size: 22px;
        }

        .react-icon {
            width: 50px;
            height: 50px;
        }

    }

    .sidebar-body {
        flex-grow: 1;
    }

}