.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.4); }
  .sidebar .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    .sidebar .sidebar-header .sidebar-title {
      margin: 0;
      font-size: 22px; }
    .sidebar .sidebar-header .react-icon {
      width: 60px;
      height: 60px; }
  .sidebar hr {
    width: 84px;
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .sidebar .sidebar-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .sidebar .sidebar-body .sidebar-body__content {
      flex-grow: 1;
      padding: 20px;
      color: #fff; }
      .sidebar .sidebar-body .sidebar-body__content .pairs__guessed {
        font-size: 64px;
        text-align: center; }
    .sidebar .sidebar-body .sidebar-body__logout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      cursor: pointer; }
      .sidebar .sidebar-body .sidebar-body__logout:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      .sidebar .sidebar-body .sidebar-body__logout .logout-message {
        margin-top: 8px;
        color: #fff; }
