.sidebar {
    display: flex;
    flex-direction: column;
    //background: linear-gradient(#5dd3c7, #8f49cb);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #FFDC8A;

        .sidebar-title {
            margin: 0;
            color: #FF8508;
            font-size: 22px;
        }

        .react-icon {
            width: 40px;
            height: 40px;
        }

    }

    .sidebar-body {
        flex-grow: 1;
        background-color: #FFEDC3;
    }

}